@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: #dad7c8;
}

header {
  position: fixed;
  background: #dad7c8;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  height: 100%;
  max-width: 1370px;
  margin: auto;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__right {
  height: 100%;
  width: 50%;
  min-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 100%;
}

.header__right li {
  cursor: pointer;
}

.header__right .header-btn {
  width: 60px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.header__right .header-btn span {
  display: block;
  height: 0px;
  width: 80%;
  border-top: 2px solid black;
}

.header__right .header-btn span:nth-child(1) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header__right .header-btn span:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header__right .header-btn.active span:nth-child(1) {
  -webkit-animation: rotateFirstSpan 1s forwards;
          animation: rotateFirstSpan 1s forwards;
}

@-webkit-keyframes rotateFirstSpan {
  from {
    -webkit-transform: rotate(0deg) scaleX(1);
            transform: rotate(0deg) scaleX(1);
  }
  to {
    -webkit-transform: rotate(-45deg) scaleX(0.6);
            transform: rotate(-45deg) scaleX(0.6);
  }
}

@keyframes rotateFirstSpan {
  from {
    -webkit-transform: rotate(0deg) scaleX(1);
            transform: rotate(0deg) scaleX(1);
  }
  to {
    -webkit-transform: rotate(-45deg) scaleX(0.6);
            transform: rotate(-45deg) scaleX(0.6);
  }
}

.header__right .header-btn.active span:nth-child(2) {
  -webkit-animation: rotateSecondSpan 1s forwards;
          animation: rotateSecondSpan 1s forwards;
}

@-webkit-keyframes rotateSecondSpan {
  from {
    -webkit-transform: rotate(0deg) scaleX(1) translate(0, 0);
            transform: rotate(0deg) scaleX(1) translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 10px) rotate(45deg) scaleX(0.6);
            transform: translate(0, 10px) rotate(45deg) scaleX(0.6);
  }
}

@keyframes rotateSecondSpan {
  from {
    -webkit-transform: rotate(0deg) scaleX(1) translate(0, 0);
            transform: rotate(0deg) scaleX(1) translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 10px) rotate(45deg) scaleX(0.6);
            transform: translate(0, 10px) rotate(45deg) scaleX(0.6);
  }
}

.header__right .header-btn.inactive span:nth-child(1) {
  -webkit-animation: removeRotateFirstSpan 1s forwards;
          animation: removeRotateFirstSpan 1s forwards;
}

@-webkit-keyframes removeRotateFirstSpan {
  from {
    -webkit-transform: rotate(-45deg) scaleX(0.6);
            transform: rotate(-45deg) scaleX(0.6);
  }
  to {
    -webkit-transform: rotate(0deg) scaleX(1);
            transform: rotate(0deg) scaleX(1);
  }
}

@keyframes removeRotateFirstSpan {
  from {
    -webkit-transform: rotate(-45deg) scaleX(0.6);
            transform: rotate(-45deg) scaleX(0.6);
  }
  to {
    -webkit-transform: rotate(0deg) scaleX(1);
            transform: rotate(0deg) scaleX(1);
  }
}

.header__right .header-btn.inactive span:nth-child(2) {
  -webkit-animation: removeRotateSecondSpan 1s forwards;
          animation: removeRotateSecondSpan 1s forwards;
}

@-webkit-keyframes removeRotateSecondSpan {
  from {
    -webkit-transform: translate(0, 10px) rotate(45deg) scaleX(0.6);
            transform: translate(0, 10px) rotate(45deg) scaleX(0.6);
  }
  to {
    -webkit-transform: rotate(0deg) scaleX(1) translate(0, 0);
            transform: rotate(0deg) scaleX(1) translate(0, 0);
  }
}

@keyframes removeRotateSecondSpan {
  from {
    -webkit-transform: translate(0, 10px) rotate(45deg) scaleX(0.6);
            transform: translate(0, 10px) rotate(45deg) scaleX(0.6);
  }
  to {
    -webkit-transform: rotate(0deg) scaleX(1) translate(0, 0);
            transform: rotate(0deg) scaleX(1) translate(0, 0);
  }
}

@media screen and (max-width: 725px) {
  .header__right {
    width: auto;
    min-width: unset;
  }
  .header__right ul {
    display: none;
  }
}

header.inactive ul li {
  -webkit-animation: listAnimation .3s forwards;
          animation: listAnimation .3s forwards;
}

@-webkit-keyframes listAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes listAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header.active ul li {
  -webkit-animation: removelistAnimation .3s forwards;
          animation: removelistAnimation .3s forwards;
}

@-webkit-keyframes removelistAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes removelistAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-menu {
  position: fixed;
  top: 60px;
  width: 100%;
  height: 90vh;
  max-height: 750px;
  position: relative;
}

.header-menu__bg {
  position: absolute;
  inset: 0;
  width: 96%;
  max-width: 1370px;
  height: 100%;
  margin: auto;
  padding: 3rem;
  background: #010d1f;
  border-radius: .5rem;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.header-menu__content {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
  max-width: 1370px;
  height: 100%;
  margin: auto;
  padding: 3rem 3rem 1.5rem 3rem;
}

.header-menu__content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.header-menu__content__left .details-left {
  color: darkgray;
  overflow: hidden;
}

.header-menu__content__left .details-left span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.header-menu__content__left .details-left a {
  text-decoration: underline;
}

.header-menu__content li {
  width: 100%;
  color: white;
  font-size: clamp(3rem, 6vw, 5rem);
  position: relative;
  overflow: hidden;
}

.header-menu__content li a {
  display: block;
  opacity: .8;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.header-menu__content li::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background: darkgray;
  opacity: .5;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header-menu__content li::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.header-menu__content li:hover a {
  opacity: 1;
}

.header-menu__content li:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header-menu__content__right {
  position: relative;
  width: 40%;
  padding: 2rem 0 0 4rem;
}

.header-menu__content__right-img {
  width: 55%;
  min-width: 200px;
  height: 320px;
  overflow: hidden;
}

.header-menu__content__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.header-menu__content__right-p {
  overflow: hidden;
  margin-top: 1.5rem;
}

.header-menu__content__right-p div {
  overflow: hidden;
}

.header-menu__content__right p {
  color: white;
  font-size: 1.3rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.header-menu__content__right .details {
  color: white;
  position: absolute;
  bottom: 0;
  left: 4rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.header-menu__content__right .details span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.header-menu__content__right .details span:first-child {
  color: darkgray;
}

.header-menu__content__right .details span:first-child a {
  text-decoration: underline;
}

.header-menu__content__right .details span:last-child {
  font-weight: 600;
}

@media screen and (max-width: 895px) {
  .header-menu__content__right .details {
    display: none;
  }
}

@media screen and (max-width: 725px) {
  .header-menu__content .header-menu__content__right {
    display: none;
  }
  .header-menu__content .header-menu__content__left {
    width: 100%;
  }
}

.header-menu.active .header-menu__bg {
  -webkit-animation: menuanimation 0.6s forwards cubic-bezier(0.59, 0.24, 0.46, 1.01);
          animation: menuanimation 0.6s forwards cubic-bezier(0.59, 0.24, 0.46, 1.01);
}

@-webkit-keyframes menuanimation {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes menuanimation {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes animateLinks {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes animateLinks {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.header-menu.active li::before {
  -webkit-transform-origin: left;
          transform-origin: left;
}

@-webkit-keyframes animateLine {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animateLine {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.header-menu.active li:nth-of-type(1) a {
  -webkit-animation: animateLinks .5s .2s forwards ease-out;
          animation: animateLinks .5s .2s forwards ease-out;
}

.header-menu.active li:nth-of-type(1)::before {
  -webkit-animation: animateLine 0.7s 0.1s forwards;
          animation: animateLine 0.7s 0.1s forwards;
}

.header-menu.active li:nth-of-type(2) a {
  -webkit-animation: animateLinks .5s .3s forwards ease-out;
          animation: animateLinks .5s .3s forwards ease-out;
}

.header-menu.active li:nth-of-type(2)::before {
  -webkit-animation: animateLine 0.7s 0.2s forwards;
          animation: animateLine 0.7s 0.2s forwards;
}

.header-menu.active li:nth-of-type(3) a {
  -webkit-animation: animateLinks .5s .4s forwards ease-out;
          animation: animateLinks .5s .4s forwards ease-out;
}

.header-menu.active li:nth-of-type(3)::before {
  -webkit-animation: animateLine 0.7s 0.3s forwards;
          animation: animateLine 0.7s 0.3s forwards;
}

.header-menu.active li:nth-of-type(4) a {
  -webkit-animation: animateLinks .5s .5s forwards ease-out;
          animation: animateLinks .5s .5s forwards ease-out;
}

.header-menu.active li:nth-of-type(4)::before {
  -webkit-animation: animateLine 0.7s 0.4s forwards;
          animation: animateLine 0.7s 0.4s forwards;
}

.header-menu.active img {
  -webkit-animation: animateImage .7s .1s forwards;
          animation: animateImage .7s .1s forwards;
}

@-webkit-keyframes animateImage {
  from {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes animateImage {
  from {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes animateParagraph {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes animateParagraph {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.header-menu.active .header-menu__content__right div:nth-of-type(1) p {
  -webkit-animation: animateParagraph .3s .3s forwards;
          animation: animateParagraph .3s .3s forwards;
}

.header-menu.active .header-menu__content__right div:nth-of-type(2) p {
  -webkit-animation: animateParagraph .3s .4s forwards;
          animation: animateParagraph .3s .4s forwards;
}

.header-menu.active .header-menu__content__right div:nth-of-type(3) p {
  -webkit-animation: animateParagraph .3s .5s forwards;
          animation: animateParagraph .3s .5s forwards;
}

.header-menu.active .header-menu__content__left .details-left span {
  -webkit-animation: animateDetails .4s .4s forwards;
          animation: animateDetails .4s .4s forwards;
}

@-webkit-keyframes animateDetails {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animateDetails {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header-menu.active .details span {
  -webkit-animation: animateDetails .4s .4s forwards;
          animation: animateDetails .4s .4s forwards;
}

@keyframes animateDetails {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header-menu.inactive .header-menu__bg {
  -webkit-animation: removemenuanimation 0.6s forwards cubic-bezier(0.59, 0.24, 0.46, 1.01);
          animation: removemenuanimation 0.6s forwards cubic-bezier(0.59, 0.24, 0.46, 1.01);
}

@-webkit-keyframes removemenuanimation {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes removemenuanimation {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.header-menu.inactive li a {
  -webkit-animation: removeanimateLinks .5s .2s forwards ease-out;
          animation: removeanimateLinks .5s .2s forwards ease-out;
}

@-webkit-keyframes removeanimateLinks {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes removeanimateLinks {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes removeanimateLine {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes removeanimateLine {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.header-menu.inactive li:nth-of-type(1) a {
  -webkit-animation: removeanimateLinks .3s  forwards ease-out;
          animation: removeanimateLinks .3s  forwards ease-out;
}

.header-menu.inactive li:nth-of-type(1)::before {
  -webkit-animation: removeanimateLine 0.7s forwards;
          animation: removeanimateLine 0.7s forwards;
}

.header-menu.inactive li:nth-of-type(2) a {
  -webkit-animation: removeanimateLinks .3s forwards ease-out;
          animation: removeanimateLinks .3s forwards ease-out;
}

.header-menu.inactive li:nth-of-type(2)::before {
  -webkit-animation: removeanimateLine 0.7s forwards;
          animation: removeanimateLine 0.7s forwards;
}

.header-menu.inactive li:nth-of-type(3) a {
  -webkit-animation: removeanimateLinks .3s  forwards ease-out;
          animation: removeanimateLinks .3s  forwards ease-out;
}

.header-menu.inactive li:nth-of-type(3)::before {
  -webkit-animation: removeanimateLine 0.7s forwards;
          animation: removeanimateLine 0.7s forwards;
}

.header-menu.inactive li:nth-of-type(4) a {
  -webkit-animation: removeanimateLinks .3s  forwards ease-out;
          animation: removeanimateLinks .3s  forwards ease-out;
}

.header-menu.inactive li:nth-of-type(4)::before {
  -webkit-animation: removeanimateLine 0.7s forwards;
          animation: removeanimateLine 0.7s forwards;
}

.header-menu.inactive img {
  -webkit-animation: removeanimateImage .7s forwards;
          animation: removeanimateImage .7s forwards;
}

@-webkit-keyframes removeanimateImage {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

@keyframes removeanimateImage {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

.header-menu.inactive .header-menu__content__right p {
  -webkit-animation: removeanimateParagraph .3s  forwards;
          animation: removeanimateParagraph .3s  forwards;
}

@-webkit-keyframes removeanimateParagraph {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes removeanimateParagraph {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.remove {
  display: none;
}
/*# sourceMappingURL=style.css.map */