@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



*,*::before,*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Poppins";
}
a{
    color: inherit;
    text-decoration: none;
}

$beige:rgb(218, 215, 200);
$darkblue:rgb(1, 13, 31);

body{
    background: $beige;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.header
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    height: 100%;
    padding: 0 1%;
    max-width: 1200px;
    margin: auto;

    .logo{
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__right
    {
        height: 100%;
        width: 55%;
        min-width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
            height: 100%;
        }

        li{
            cursor: pointer;
        }

        .header-btn
        {
            width: 60px;
            height: 12px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            cursor: pointer;
            span{
                display: block;
                height: 0px;
                width: 80%;
                border-top: 2px solid black;
            }

            span:nth-child(1)
            {
                align-self: flex-end;
                transform-origin: right;
            }
            
            span:nth-child(2)
            {
                align-self: flex-end;
                transform-origin: right;
            }

            &.active
            {
                span:nth-child(1)
                {
                    animation: rotateFirstSpan 1s forwards;
                    @keyframes rotateFirstSpan {
                        from{
                            transform: rotate(0deg) scaleX(1);
                        }to{
                            transform: rotate(-45deg) scaleX(.6);
                        }
                    }   
                }

                span:nth-child(2)
                {
                    animation: rotateSecondSpan 1s forwards;
                    @keyframes rotateSecondSpan {
                        from{
                            transform: rotate(0deg) scaleX(1) translate(0,0);
                        }to{
                            transform:  translate(0,10px) rotate(45deg) scaleX(.6);
                        }
                    }
                }
            
            }

            &.inactive
            {
                span:nth-child(1)
                {
                    animation: removeRotateFirstSpan 1s forwards;
                    @keyframes removeRotateFirstSpan {
                        from{
                            transform: rotate(-45deg) scaleX(.6);
                        }to{
                            transform: rotate(0deg) scaleX(1);
                        }
                    }
                }
                
                span:nth-child(2)
                {
                    animation: removeRotateSecondSpan 1s forwards;
                    @keyframes removeRotateSecondSpan {
                        from{
                            transform:  translate(0,10px) rotate(45deg) scaleX(.6);
                        }to{
                            transform: rotate(0deg) scaleX(1) translate(0,0);
                        }
                    }
                }
            }

        }
    }

}

menu{

}


.header-menu
{
    position: fixed;
    top: 60px;
    width: 100%;
    height: 90vh;
    max-height: 750px;
    position: relative;
}

.header-menu__bg
{
    position: absolute;
    inset: 0;
    width: 96%;
    height: 100%;
    margin: auto;
    padding: 3rem;
    background: $darkblue;
    border-radius: .5rem;
    transform-origin: center top;
    transform: scaleY(0);
}

.header-menu__content
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 100%;
    margin: auto;
    padding: 3rem;
    
    &__left
    {
        width: 60%;
    }

    li{
        color: white;
        font-size: 5rem;
        position: relative;
        overflow: hidden;
        a{
            display: block;
            opacity: .8;
            transition: opacity 1s;
            transform: translateY(100%);
        }
        &::before
        {
            position: absolute;
            content: "";
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 1px;
            background: darkgray;
            opacity: .5;
            transform: scaleX(0);
        }
        &::after
        {
            position: absolute;
            content: "";
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 2px;
            background: white;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 1s;
        }

        &:hover
        {
            a{
                opacity: 1;
            }
            &::after
            {
                opacity: 1;
                transform: scaleX(1);
            }
        }


    }
}   

$line-animation-duration:0.7s;

.header-menu.active
{
    .header-menu__bg
    {
        animation: menuanimation .6s forwards cubic-bezier(.59,.24,.46,1.01);
        @keyframes menuanimation {
            from{
                transform: scaleY(0);
            }
            to{
                transform: scaleY(1);
            }
        }
    }
    

    li{
        a{
            @keyframes animateLinks {
                from{
                    transform: translateY(100%);   
                }to{
                    transform: translateY(0%);   
                }
            }
        }

        &::before
        {
            transform-origin: left;
            @keyframes animateLine {
                from{
                    transform: scaleX(0);   
                }to{
                    transform: scaleX(1);   
                }
            }
        }


        &:nth-of-type(1) {
            a{animation: animateLinks .5s .2s forwards ease-out;}
            &::before{animation: animateLine $line-animation-duration .1s forwards;}
        }
        &:nth-of-type(2) {
            a{animation: animateLinks .5s .3s forwards ease-out;}
            &::before{animation: animateLine $line-animation-duration .2s forwards;}
        }
        &:nth-of-type(3) {
            a{animation: animateLinks .5s .4s forwards ease-out;}
            &::before{animation: animateLine $line-animation-duration .3s forwards;}
        }
        &:nth-of-type(4) {
            a{animation: animateLinks .5s .5s forwards ease-out;}
            &::before{animation: animateLine $line-animation-duration .4s forwards;}
        }

    }
}

.header-menu.inactive
{
    .header-menu__bg
    {
        animation: removemenuanimation .6s forwards cubic-bezier(.59,.24,.46,1.01);
        @keyframes removemenuanimation {
            from{
                transform: scaleY(1);
            }
            to{
                transform: scaleY(0);
            }
        }
    }

    li{
        a{
            animation: removeanimateLinks .5s .2s forwards ease-out;
            @keyframes removeanimateLinks {
                from{
                    transform: translateY(0%);   
                }to{
                    transform: translateY(100%);   
                }
            }
        }

        &::before
        {
            @keyframes removeanimateLine {
                from{
                    transform: scaleX(1);   
                }to{
                    transform: scaleX(0);   
                }
            }
        }

        &:nth-of-type(1) {
            a{animation: removeanimateLinks .3s  forwards ease-out;}
            &::before{animation: removeanimateLine $line-animation-duration forwards;}
        }
        &:nth-of-type(2) {
            a{animation: removeanimateLinks .3s forwards ease-out;}
            &::before{animation: removeanimateLine $line-animation-duration forwards;}
        }
        &:nth-of-type(3) {
            a{animation: removeanimateLinks .3s  forwards ease-out;}
            &::before{animation: removeanimateLine $line-animation-duration forwards;}
        }
        &:nth-of-type(4) {
            a{animation: removeanimateLinks .3s  forwards ease-out;}
            &::before{animation: removeanimateLine $line-animation-duration forwards;}
        }
    }
}

.remove
{
    display: none;
}