@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



*,*::before,*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Poppins";
}
a{
    color: inherit;
    text-decoration: none;
}

$beige:rgb(218, 215, 200);
$darkblue:rgb(1, 13, 31);

body{
    background: $beige;
}

header
{
    position: fixed;
    background: $beige;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.header
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 100%;
    max-width: 1370px;
    margin: auto;

    .logo{
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__right
    {
        height: 100%;
        width: 50%;
        min-width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
            height: 100%;
        }

        li{
            cursor: pointer;
        }

        .header-btn
        {
            width: 60px;
            height: 12px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            cursor: pointer;
            span{
                display: block;
                height: 0px;
                width: 80%;
                border-top: 2px solid black;
            }

            span:nth-child(1)
            {
                align-self: flex-end;
                transform-origin: right;
            }
            
            span:nth-child(2)
            {
                align-self: flex-end;
                transform-origin: right;
            }

            &.active
            {
                span:nth-child(1)
                {
                    animation: rotateFirstSpan 1s forwards;
                    @keyframes rotateFirstSpan {
                        from{
                            transform: rotate(0deg) scaleX(1);
                        }to{
                            transform: rotate(-45deg) scaleX(.6);
                        }
                    }   
                }

                span:nth-child(2)
                {
                    animation: rotateSecondSpan 1s forwards;
                    @keyframes rotateSecondSpan {
                        from{
                            transform: rotate(0deg) scaleX(1) translate(0,0);
                        }to{
                            transform:  translate(0,10px) rotate(45deg) scaleX(.6);
                        }
                    }
                }
            
            }

            &.inactive
            {
                span:nth-child(1)
                {
                    animation: removeRotateFirstSpan 1s forwards;
                    @keyframes removeRotateFirstSpan {
                        from{
                            transform: rotate(-45deg) scaleX(.6);
                        }to{
                            transform: rotate(0deg) scaleX(1);
                        }
                    }
                }
                
                span:nth-child(2)
                {
                    animation: removeRotateSecondSpan 1s forwards;
                    @keyframes removeRotateSecondSpan {
                        from{
                            transform:  translate(0,10px) rotate(45deg) scaleX(.6);
                        }to{
                            transform: rotate(0deg) scaleX(1) translate(0,0);
                        }
                    }
                }
            }

        }

        @media screen and(max-width:725px)
        {
            width: auto;
            min-width: unset;
            ul{
                display: none;
            }
            
        }
    }

}

header.inactive
{
    ul{
        li{
            animation: listAnimation .3s forwards;
            @keyframes listAnimation {
                from{
                    opacity: 1;
                }to{
                    opacity: 0;
                }
            }
        }
    }
}
header.active
{
    ul{
        li{
            animation: removelistAnimation .3s forwards;
            @keyframes removelistAnimation {
                from{
                    opacity: 0;
                }to{
                    opacity: 1;
                }
            }
        }
    }
}


.header-menu
{
    position: fixed;
    top: 60px;
    width: 100%;
    height: 90vh;
    max-height: 750px;
    position: relative;
}

.header-menu__bg
{
    position: absolute;
    inset: 0;
    width: 96%;
    max-width: 1370px;
    height: 100%;
    margin: auto;
    padding: 3rem;
    background: $darkblue;
    border-radius: .5rem;
    transform-origin: center top;
    transform: scaleY(0);
}

.header-menu__content
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    width: 96%;
    max-width: 1370px;
    height: 100%;
    margin: auto;
    padding: 3rem 3rem 1.5rem 3rem;
    
    &__left
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;

        .details-left
        {
            color: darkgray;
            overflow: hidden;
            span{
                display: inline-block;
                transform: translateY(100%);
            }
            a{
                text-decoration: underline;
            }
        }
    }

    li{
        width: 100%;
        color: white;
        font-size: clamp(3rem,6vw,5rem);
        position: relative;
        overflow: hidden;
        a{
            display: block;
            opacity: .8;
            transition: opacity 1s;
            transform: translateY(100%);
        }
        &::before
        {
            position: absolute;
            content: "";
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 1px;
            background: darkgray;
            opacity: .5;
            transform: scaleX(0);
        }
        &::after
        {
            position: absolute;
            content: "";
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 2px;
            background: white;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 1s;
        }

        &:hover
        {
            a{
                opacity: 1;
            }
            &::after
            {
                opacity: 1;
                transform: scaleX(1);
            }
        }


    }

    &__right
    {
        position: relative;
        width: 40%;
        padding: 2rem 0 0 4rem;
        &-img{
            width: 55%;
            min-width: 200px;
            height: 320px;
            overflow: hidden;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
            transform-origin: bottom center;
            transform: translateY(-150%);
        }   
        &-p{
            overflow: hidden;
            margin-top: 1.5rem;
            div{
                overflow: hidden;
            }
        }
        p{
            color: white;
            font-size: 1.3rem;
            transform: translateY(100%);
        }

        .details
        {
            
            color: white;
            position: absolute;
            bottom: 0;
            left: 4rem;
            right: 0;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            span{
                transform: translateY(100%);
            }
            span:first-child{
                color: darkgray;
                a{
                    text-decoration: underline;
                }
            }
            span:last-child{
                font-weight: 600;
            }

            @media screen and(max-width:895px) {
                display: none;
            }
        }

    }

    @media screen and(max-width:725px)
    {
        .header-menu__content__right
        {
            display: none;
        }
        .header-menu__content__left
        {
            width: 100%;
        }
    }

}   

$line-animation-duration:0.7s;

.header-menu.active
{
    .header-menu__bg
    {
        animation: menuanimation .6s forwards cubic-bezier(.59,.24,.46,1.01);
        @keyframes menuanimation {
            from{
                transform: scaleY(0);
            }
            to{
                transform: scaleY(1);
            }
        }
    }
    

    li{
        a{
            @keyframes animateLinks {
                from{
                    transform: translateY(100%);   
                }to{
                    transform: translateY(0%);   
                }
            }
        }

        &::before
        {
            transform-origin: left;
            @keyframes animateLine {
                from{
                    transform: scaleX(0);   
                }to{
                    transform: scaleX(1);   
                }
            }
        }


        &:nth-of-type(1) {
            a{animation: animateLinks .5s .2s forwards ease-out;}
            &::before{animation: animateLine $line-animation-duration .1s forwards;}
        }
        &:nth-of-type(2) {
            a{animation: animateLinks .5s .3s forwards ease-out;}
            &::before{animation: animateLine $line-animation-duration .2s forwards;}
        }
        &:nth-of-type(3) {
            a{animation: animateLinks .5s .4s forwards ease-out;}
            &::before{animation: animateLine $line-animation-duration .3s forwards;}
        }
        &:nth-of-type(4) {
            a{animation: animateLinks .5s .5s forwards ease-out;}
            &::before{animation: animateLine $line-animation-duration .4s forwards;}
        }

    }

    img{
        animation: animateImage .7s .1s forwards;
        @keyframes animateImage {
            from{
                transform: translateY(-150%);
            }to{
                transform: translateY(0%);
            }
        }       
    }

    .header-menu__content__right
    {
        div{
            @keyframes animateParagraph {
                from{
                    transform: translateY(100%);
                }
                to{
                    transform: translateY(0%);
                }
            }
            &:nth-of-type(1)
            {
                p{animation: animateParagraph .3s .3s forwards;}
            }
            &:nth-of-type(2)
            {
                p{animation: animateParagraph .3s .4s forwards;}
            }
            &:nth-of-type(3)
            {
                p{animation: animateParagraph .3s .5s forwards;}
            }
        }
    }

    .header-menu__content__left
    {
        .details-left
        {
            span{
                animation: animateDetails .4s .4s forwards;
                @keyframes animateDetails {
                    from{
                        transform: translateY(100%);
                    }to{
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    .details
    {
        span{
            animation: animateDetails .4s .4s forwards;
            @keyframes animateDetails {
                from{
                    transform: translateY(100%);
                }to{
                    transform: translateY(0);
                }
            }
        }
    }
    
}

.header-menu.inactive
{
    .header-menu__bg
    {
        animation: removemenuanimation .6s forwards cubic-bezier(.59,.24,.46,1.01);
        @keyframes removemenuanimation {
            from{
                transform: scaleY(1);
            }
            to{
                transform: scaleY(0);
            }
        }
    }

    li{
        a{
            animation: removeanimateLinks .5s .2s forwards ease-out;
            @keyframes removeanimateLinks {
                from{
                    transform: translateY(0%);   
                }to{
                    transform: translateY(100%);   
                }
            }
        }

        &::before
        {
            @keyframes removeanimateLine {
                from{
                    transform: scaleX(1);   
                }to{
                    transform: scaleX(0);   
                }
            }
        }

        &:nth-of-type(1) {
            a{animation: removeanimateLinks .3s  forwards ease-out;}
            &::before{animation: removeanimateLine $line-animation-duration forwards;}
        }
        &:nth-of-type(2) {
            a{animation: removeanimateLinks .3s forwards ease-out;}
            &::before{animation: removeanimateLine $line-animation-duration forwards;}
        }
        &:nth-of-type(3) {
            a{animation: removeanimateLinks .3s  forwards ease-out;}
            &::before{animation: removeanimateLine $line-animation-duration forwards;}
        }
        &:nth-of-type(4) {
            a{animation: removeanimateLinks .3s  forwards ease-out;}
            &::before{animation: removeanimateLine $line-animation-duration forwards;}
        }
    }

    img{
        animation: removeanimateImage .7s forwards;
        @keyframes removeanimateImage {
            from{
                transform: translateY(0%);
            }to{
                transform: translateY(-150%);
            }
        }       
    }

    .header-menu__content__right
    {
        p{
            animation: removeanimateParagraph .3s  forwards;
            @keyframes removeanimateParagraph {
                from{
                    transform: translateY(0%);
                }
                to{
                    transform: translateY(100%);
                }
            }
        }
    }
}

.remove
{
    display: none;
}